node_modules
.DS_Store
dist
src-tauri/target
src-tauri/gen
.tauri
*.log
.claude/skills/graphify/
.claude/settings.local.json
.copilot/skills/graphify/
.codex/skills/graphify/
.codex/hooks.json
graphify-out/
